{% extends "base.html" %}

{% block title %}Beverage List{% endblock title %}

{% block content %}
  <h1 style="color: Cyan"> Beverage List</h1>
  <p style="color: Cyan">To Edit a Beverage, Double-Click on the row.</p>
  <a href="{{ url_for('beverage_add_view') }}" class="btn btn-primary float-end">Add New</a>
  <table class="table table-striped">
    <caption>
      <span class="sr-only">
      </span>
    <thead>
    <tr>
      <th style="color: DeepPink">
        ID
        <a
            href="{{ url_for('beverage_sort_by_id_ascending_view') }}"
            class="btn btn-success"
          >
          ↑
        </a>
        <a
            href="{{ url_for('beverage_sort_by_id_descending_view') }}"
            class="btn btn-success"
          >
          ↓
        </a>
      </th>
      <th style="color: DeepPink">
        Name
        <a
            href="{{ url_for('beverage_sort_by_name_ascending_view') }}"
            class="btn btn-success"
          >
          ↑
        </a>
        <a
            href="{{ url_for('beverage_sort_by_name_descending_view') }}"
            class="btn btn-success"
          >
          ↓
        </a>
      </th>
      <th style="color: Plum" >
        Pack
        <a
            href="{{ url_for('beverage_sort_by_pack_ascending_view') }}"
            class="btn btn-success"
          >
          ↑
        </a>
        <a
            href="{{ url_for('beverage_sort_by_pack_descending_view') }}"
            class="btn btn-success"
          >
          ↓
        </a>
      </th>
      <th style="color: MediumVioletRed">
        Price
        <a
            href="{{ url_for('beverage_sort_by_price_ascending_view') }}"
            class="btn btn-success"
          >
          ↑
        </a>
        <a
            href="{{ url_for('beverage_sort_by_price_descending_view') }}"
            class="btn btn-success"
          >
          ↓
        </a>
      </th>
      <th style="color: PaleVioletRed">

        <div class="mb-3">
          <label for="active_id" class="form-label" style="color: Cyan">Active</label>
          <input
            type="radio"
            id="active_id"
            name="status"
            value="1"

            {% if status == "1" %}
              checked
            {% endif %}

          >
          <label for="inactive_id" style="color: Cyan">Inactive</label>
          <input
            type="radio"
            id="inactive_id"
            name="status"
            value="0"

            {% if not status == "0" %}
              checked
            {% endif %}

          >
          <label for="inactive_id" style="color: Cyan">All</label>
          <input
            type="radio"
            id="inactive_id"
            name="status"
            value=""
            checked
          >
      </th>
      <th class="text-end" style="color: Magenta">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for beverage in beverages %}
      <tr data-url="{{ url_for('beverage_edit_view', pk=beverage.id) }}">
        <td>{{ beverage.id }}</td>
        <td>{{ beverage.name }}</td>
        <td>{{ beverage.pack }}</td>
        <td>{{ beverage.price }}</td>
        <td>{{ beverage.active }}</td>
        <td class="text-end">
          <!--
          <a
            href="{{ url_for('beverage_edit_view', pk=beverage.id) }}"
            class="btn btn-success"
          >
            Edit
          </a>
          -->
          <a href="{{ url_for('beverage_delete_view', pk=beverage.id) }}" class="btn btn-danger">Delete</a>
        </td>
      </tbody>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}

