{% extends "base.html" %}

{% block title %}Beverage Add{% endblock title %}

{% block content %}
  <h1 style="color: Cyan">Beverage Add</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="id" class="form-label" style="color: Cyan">ID:</label>
      <input
        type="text"
        class="form-control"
        id="id_id"
        name="id"
        placeholder="ID"
        {% if errors %}
          value="{{ request.form['id'] }}"
        {% endif %}
      >
      <div id="id_help_id" class="form-text" style="color: Cyan">ID of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label" style="color: Cyan">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name_id"
        name="name"
        placeholder="Name"
        {% if errors%}
          value="{{ request.form['name'] }}"
        {% endif %}
      >
      <div id="name_help_id" class="form-text" style="color: Cyan">Name of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="pack" class="form-label" style="color: Cyan">Pack:</label>
      <input
        type="text"
        class="form-control"
        id="pack_id"
        name="pack"
        placeholder="Pack"
        {% if errors %}
          value="{{ request.form['pack'] }}"
        {% endif %}
      >
      <div id="pack_help_id" class="form-text" style="color: Cyan">Pack of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label" style="color: Cyan">Price:</label>
      <input
        type="text"

        id="price_id"
        name="price"
        placeholder="Price"
        {% if errors %}
          value="{{ request.form['price'] }}"
        {% endif %}
      >
      <div id="price_help_id" class="form-text" style="color: Cyan">Price of New Beverage</div>
    </div>



    <div class="mb-3">
      <label for="active_id" class="form-label" style="color: Cyan">Active</label>
      <input
        type="radio"
        id="active_id"
        name="status"
        value="1"
        {% if status is not none %}
          {% if status %}
            checked
          {% endif %}
        {% endif %}
      >
      <label for="inactive_id" style="color: Cyan">Inactive</label>
      <input
        type="radio"
        id="inactive_id"
        name="status"
        value=""
        {% if status is not none %}
          {% if not status %}
            checked
          {% endif %}
        {% endif %}
      >

    </div>


    <button class="btn btn-success" type="submit">Add</button>
    <a href="{{ url_for('beverage_list_view') }}" class="btn btn-secondary">Cancel</a>


  </form>
{% endblock content %}