{% extends "base.html" %}

{% block title %}Beverage Delete{% endblock title %}

{% block content %}
  <h1 style="color: Cyan">Beverage Delete</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="id" class="form-label" style="color: Cyan">ID:</label>
      <input
        type="text"
        class="form-control"
        id="id_id"
        name="id"
        placeholder="ID"
        value="{{ beverage.id }}"
        disabled
      >
      <div id="id_help_id" class="form-text" style="color: Cyan">ID of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label" style="color: Cyan">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name_id"
        name="name"
        placeholder="Name"
        value="{{ beverage.name }}"
        disabled
      >
      <div id="name_help_id" class="form-text" style="color: Cyan">Name of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="pack" class="form-label" style="color: Cyan">Pack:</label>
      <input
        type="text"
        class="form-control"
        id="pack_id"
        name="pack"
        placeholder="Pack"
        value="{{ beverage.pack }}"
        disabled
      >
      <div id="pack_help_id" class="form-text" style="color: Cyan">Pack of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label" style="color: Cyan">Price:</label>
      <input
        type="text"
        class="form-control"
        id="price_id"
        name="price"
        placeholder="Price"
        value="{{ beverage.price }}"
        disabled
      >
      <div id="price_help_id" class="form-text" style="color: Cyan">Price of New Beverage</div>
    </div>

    <div class="mb-3">
      <label for="active_id" class="form-label" style="color: Cyan">Active</label>
      <input
        type="radio"
        id="active_id"
        name="status"
        value="True"
        {% if beverage.active %}
          checked
        {% endif %}
        disabled
      >
      <label for="inactive_id" style="color: Cyan">Inactive</label>
      <input
        type="radio"
        id="inactive_id"
        name="status"
        value=""
        {% if not beverage.active %}
          checked
        {% endif %}
        disabled
      >

    </div>

    <h3 style="color: Cyan">Are you sure you want to delete this beverage?</h3>
    <button class="btn btn-danger" type="submit">Delete</button>
    <a href="{{ url_for('beverage_list_view') }}" class="btn btn-secondary">Cancel</a>


  </form>
{% endblock content %}